@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to Fracto!</h2>


<ul>
    <li><a "/Users">Manage Users</a></li>
    <li><a href="/Doctors">Manage Doctors</a></li>
    <li><a href="/Specializations">Manage Specializations</a></li>
    <li><a href="/Appointments">Manage Appointments</a></li>
    <li><a href="/Ratings">Manage Ratings</a></li>
</ul>